@charset "UTF-8";
/*
COMMON
================================================ */
p {
    line-height: 1.7;
}
img {
    max-width: 100%;
}
.title {
    font-family: sans-serif;
    font-size: min(10vw, 4rem);
    margin-bottom: 2rem;
}
.btn {
    color: white;
    background: brown;
    border: 1px solid brown;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    margin: 2rem 0;
    transition: .4s;
}

/*
LAYOUT
================================================ */
.wrapper {
    max-width: 38rem;
    margin: auto;
    padding: 0 1rem;
}

/*
LOADING
===================*/
#loading {
  background-color: lightgray;
  position: fixed;
  inset: 0;/*親要素の端から子要素までの距離を設定*/
  z-index: 9999;
  display: grid;
  place-items: center;
}

/* #loading-screen {
  background-color: lightgreen;
  position: fixed;
  inset: 0; /*paddingやmarginと似たプロパティ position: absolute; や position: fixed; などと組み合わせて簡単に要素を配置したいときに使える*/
  /* z-index: 9998;
  translate: 0 100vh;
} */

#loading-left,
#loading-right {
  background-color: crimson;
  position: fixed;
  width: 50vw;
  height: 100vh;
  z-index: 9998;
}

#loading-left {
  left: 0;
  transform-origin: left top; /*変形(transform)の基準点を指定*/
}

#loading-right {
  right: 0;
  transform-origin: right top;
}

#loading p {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

/*
CONCEPT
================================================ */
.concept {
    margin: 8rem 0;
    background-image: linear-gradient(
        to right,
        transparent 0%,
        transparent 20%,
        lightgrey 20%,
        lightgray 100%
    );
}
.concept p {
    text-align: left;
    margin-bottom: 2rem;
}

/*
gallery
==============================================*/
.gallery {
  display: flex;
  flex-direction: column-reverse;
}

.gallery-image {
    width: min(100%, calc(38rem - 2rem));
    margin: auto;
    position: relative;
}
.gallery-image::after {
    display: block;
    content: '';
    width: calc(100% - 2rem);
    height: calc(100% - 2.5rem);
    z-index: 3;
    border: 3px solid white;
    top: 1rem;
    left: 1rem;
    position: absolute;
}
.gallery-image img {
    aspect-ratio: 3/4;
    object-fit: cover;
    width: 100%;
}
.gallery-thumbnails {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    margin: 1rem 0;
}
.gallery-thumbnails img {
    aspect-ratio: 3/4;
    object-fit: cover;
    cursor: pointer;
}

/*
DESKTOP SIZE
================================================ */
@media(min-width: 800px){
/* COMMON */
    .title {
        margin-bottom: 3rem;
    }
    .btn:hover {
        color: var(--brown);
        background: var(--light-green);
    }

/* SLIDE MENU */
    .btn-menu:hover {
        background-color: var(--light-green);
    }
    #menu-close:hover svg {
        fill: var(--brown);
    }
    .menu-list a:hover {
        transition: .4s;
        color: var(--green);
    }

/* CONCEPT*/
    .concept {
        display: flex;
        margin: 16rem 0;
    }
    .concept p {
        text-align-last: left;
    }
    .concept img {
        margin: -6rem 0;
        max-width: 38rem;
    }

/* GALLERY */
    .gallery {
        flex-direction: row;
    }
    .gallery-image {
        width: 50vw;
        margin: 0;
    }
    .gallery-image img {
        height: 100vh;
    }
    .gallery-content {
        width: 30vw;
    }
    .gallery-thumbnails {
        gap: 2vw;
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery-thumbnails img:hover {
        box-shadow: 0 0 1rem rgba(0,0,0,.4);
        transition: .4s;
    }

/* SHOP */
    .shop {
        margin-top: 20rem;
        height: 50rem;
    }
}